<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Todo</title>
</head>
<body>
    <center>

        <h1>Create New Todo</h1>
        <h4 style="color:red;">{{error}}</h4>
        {% csrf_token %}
        <form action="" method="post">
            {% csrf_token %}
            {{form}}
            {% csrf_token %}        
            <button type="submit">Create</button>
        </form>
    </center>
</body>
</html>