<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h3 style="color: red;">{{error}}</h3>
    <form  method="post">
        {% csrf_token %} 
        {{form.as_p}}
        <button type="submit">Update</button>
    </form>
    <form  method="post" action="{% url 'complete' id %}">
        {% csrf_token %} 
        <button type="submit">Complete</button>
    </form>
    <form  method="post" action="{% url 'delete' id %}">
        {% csrf_token %} 
        <button type="submit">Delete</button>
    </form>
</body>
</html>